body {
    font-family: 'Barlow', sans-serif !important;
    background-color: #e9ece5;
}

img {
    width: auto;
    height: auto;
}

.name {
    font-family: Barlow-SemiBold;
    font-size: 64px;
    line-height: 60px;
    color: white;
}

.description {
    font-size: 18px !important;
    color: white;
}

.emblem {
    background: #D8D8D8;
    border: 1px solid #979797;
    font-family: Helvetica;
    font-size: 48px;
    color: #000000;
}

.nav {
    float: right;
}

.screen {
    margin-top: 30px;
}

.homepage {
    background-image: url("../asset/homepage.jpg")
}